﻿@page "/"
@using Microsoft.AspNetCore.Components.Forms
@using static CreditMensuel.CreditImmobilier

<PageTitle>Index</PageTitle>

<div class="text-center">
    <h1 class="display-4">Calcul du crédit immobilier</h1>
</div>

<EditForm EditContext="@editContext" OnSubmit="Calculate">
    <div>
        <label for="amount">Capital :</label>
        <InputNumber id="amount" @bind-Value="capital" required />
    </div>
    <div>
        <h3>Durée</h3>
        <InputRadioGroup @bind-Value="choixDuree">
            @foreach (Duree nomDuree in Enum.GetValues(typeof(Duree)))
            {
                <InputRadio id="@nomDuree" Value="@nomDuree" />
                <label for="@nomDuree">@nomDuree</label><br />
            }
        </InputRadioGroup>
    </div>
    <div>
        <h3>Taux</h3>
        <InputRadioGroup @bind-Value="choixTaux">
            @foreach (Taux nomTaux in Enum.GetValues(typeof(Taux)))
            {
                <InputRadio id="@nomTaux" Value="@nomTaux" />
                <label for="@nomTaux">@nomTaux</label><br />
            }
        </InputRadioGroup>
    </div>
    <div>
        <h3>Type</h3>
        <ul>
            <li>
                <InputCheckbox id="sporty" @bind-Value="sporty" />
                <label for="sporty">Sportif</label>
            </li>
            <li>
                <InputCheckbox id="smoker" @bind-Value="smoker" />
                <label for="smoker">Fumeur</label>
            </li>
            <li>
                <InputCheckbox id="cardiac" @bind-Value="cardiac" />
                <label for="cardiac">Troubles cardiaques</label>
            </li>
            <li>
                <InputCheckbox id="engineer" @bind-Value="engineer" />
                <label for="engineer">Ingénieur informatique</label>
            </li>
            <li>
                <InputCheckbox id="pilot" @bind-Value="pilot" />
                <label for="pilot">Pilote de chasse</label>
            </li>
        </ul>
    </div>
    <div>
        <button type="submit">Calculer</button>
    </div>
</EditForm>


@if (monthlyPayment.HasValue)
{
    <p>Crédit mensuel sans assurance : @monthlyPayment.Value €</p>
    <p>Taux nominal : @rate.Value % : @(capital.Value*rate.Value/100)</p>
    <p>Taux assurance : @assuranceRate.Value %</p>
    <p>Prix assurance : @assurancePayment.Value €</p>
    <p>Prix assurance par mois : @assurancePaymentPerMonth.Value €</p>
    <p>Crédit mensuel avec assurance : @monthlyPaymentWithAssurance.Value €</p>
}
else
{
    <p>@alert</p>
}


@code
{
    private EditContext editContext;
    private int? capital { get; set; }
    private double? rate { get; set; }
    private double? monthlyPayment { get; set; }
    private double? monthlyPaymentWithAssurance { get; set; }
    private double? assuranceRate { get; set; }
    private double? assurancePayment { get; set; }
    private double? assurancePaymentPerMonth { get; set; }

    private bool sporty { get; set; }
    private bool smoker { get; set; }
    private bool cardiac { get; set; }
    private bool engineer { get; set; }
    private bool pilot { get; set; }

    private Taux choixTaux { get; set; }
    private Duree choixDuree { get; set; }

    private string alert { get; set; } = "Pas de valeurs";

    protected override void OnInitialized()
    {
        editContext = new EditContext(this);
    }

    public void Calculate()
    {
        if (capital.HasValue)
        {
            if (CreditImmobilier.isCapitalHigherThan50k(capital.Value) && CreditImmobilier.isDurationInRange((int)choixDuree) && CreditImmobilier.isRateInRange((int)choixTaux))
            {
                rate = CreditImmobilier.GetTaux((int)choixTaux, (int)choixDuree);
                monthlyPayment = CreditImmobilier.CalculateMonthlyPaymentWithoutAssurance(capital.Value, (int)choixDuree, rate.Value);
                assuranceRate = CreditImmobilier.CalculateAssuranceRate(sporty, smoker, cardiac, engineer, pilot);
                assurancePayment = CreditImmobilier.CalculateAssurancePayment(assuranceRate.Value, capital.Value, (int)choixDuree);
                assurancePaymentPerMonth = CreditImmobilier.CalculateAssurancePaymentPerMonth(assuranceRate.Value, capital.Value, (int)choixDuree);
                monthlyPaymentWithAssurance = CreditImmobilier.CalculateMonthlyPaymentWithAssurance(monthlyPayment.Value, assurancePaymentPerMonth.Value);
            }
            else
            {
                alert = "Certaines valeurs ne sont pas valables";
            }

        }

    }

}
