﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form asp-action="IncrementScore" method="post">
    <div>
        <button type="submit" name="p1score" value="1">Player 1</button>
        <button type="submit" name="p2score" value="2">Player 2</button>
    </div>
</form>

<h1 name="scores">Score</h1>

